.container {
    width: 959px;
    height: 497px;
    margin-left: 8px;
    background-color: var(--bg-div);
    border-radius: 8px;
    display: block;
}

.container .navbar {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .navbar .login span {
    margin: 5px;
}

.container .section {
    height: 433px;
    background-color: #1f1f1f;
    border-radius: 8px;
    display: flex;
}

.with-scroll {
    overflow-y: scroll;
}