:root {
  --bg-all: #000000;
  --bg-div: #121212;
  --color-text: #B3B3B3;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
}

.bg-home {
  background-color: var(--bg-all);
  color: white;
  width: auto;
}

.home {
  padding: 8px;
  display: flex;
  height: 100%;
}

.lateral {
  display: flex;
  flex-direction: column;
}

body {
  background-color: black;
}